* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.resume {
    display: flex;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
html {
    scroll-behavior: smooth;
}
.nav-list {
    list-style: none;
}
.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: #606255;
    transition: color 0.5s;
}
.nav-link:hover {
    color: #373830;
}
header {
    background-color: #c5c6ca;
}
footer {
    background-color: #c5c6ca;
}
.introduction {
    display: flex;
    width: 30%;
    flex-direction: column;
    border-right: 5px #606255 solid;
}
.info {
    display: flex;
    flex-direction: column;
    width: 70%;
}
@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}
.section-title {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: #f6902c;
    padding: 2px;
    background: rgb(55,56,48);
    background: linear-gradient(90deg, rgba(55,56,48,1) 0%, rgba(159,162,140,1) 20%, rgba(157,157,157,1) 41%, rgba(255,255,255,0.7063200280112045) 67%);
}
#contacts li {
    list-style-type: none;
    padding-left: 20px;
    background-size: 20px;
    background-position-y:0px;
    background-position-x: 10px;
    text-indent: 20px;
    line-height: 25px;
}
.location {
    background-image:url(assets/svg/location.svg);
    background-repeat: no-repeat;
}
.tel {
    background-image:url(assets/svg/call.svg);
    background-repeat: no-repeat;
}
.email {
    background-image:url(assets/svg/email.svg);
    background-repeat: no-repeat;
}
.github {
    background-image:url(assets/svg/github2.svg);
    background-repeat: no-repeat;
}
.discord {
    background-image:url(assets/svg/discord.svg);
    background-repeat: no-repeat;
}
#education li, #languages li {
    list-style-type: none;
    text-indent: 20px;
    line-height: 25px;
}
#aboutme, #experience {

    line-height: 25px;
    text-align: justify;
}
#skills img {
    transition: 2s;
    width: 10%;
    padding: 15px;
}
#skills img:hover {
    cursor: pointer;
    transition: 2s;
    transform: scale(150%);
}
footer .container {
    box-sizing: border-box;
    display: flex;
    width: 100%;
}
.logo {
    width: 50%;
    text-align: right;
}
.mygithub {
    width: 50%;
    text-align: left;
    padding-top: 40px;
}